.heatmap-container {
  display: flex;
  width: 700px;
  justify-content: center;
  margin: 0px;
}

.color-empty {
  fill: #ebedf0;
}

.color-scale-1 {
  fill: #c6e48b;
}

.color-scale-2 {
  fill: #f1f6ef;
}

.color-scale-3 {
  fill: #81d392;
}

.color-scale-4 {
  fill: #54bc69;
}

.color-scale-5 {
  fill: #2f8132;
}
.color-scale-6 {
  fill: #8b0000; /* Dark red */
}

.heatmap-container svg {
  width: 100%;
  height: 100%;
}
